<?xml version="1.0"?>
<model>
  <name>big-field</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>Kylie Herbstzuber</name>
    <email>kmherbstzuber@wpi.edu</email>
  </author>
  <description>
    The big 3002 field.
  </description>
  <ros>
    <version>jazzy</version>
  </ros>
</model>